<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <div class="nav-left">
    <a href="/home">Home</a>
    <a href="/features">Features</a>
    <a href="/about">About</a>
  </div>

  <div class="nav-right">
    <a href="/logout">Logout</a>
  </div>
</nav>
<div class="about-box">
  <h2>About</h2>
  <form>
      <p>
        Travel Explorer is a web application built with Flask that helps users discover and explore <br>
        amazing travel destinations around the world. Whether you're looking for popular tourist spots or<br>
         hidden gems, Travel Explorer has got you covered.
      </p>
      <p>
        With features like destination exploration, search functionality, and personalized travel suggestions, <br>
        Travel Explorer makes trip planning easy and enjoyable. Start your travel journey with us<br>
         and explore the world like never before!
        
      </p>
      <h4>Happy Travels! 🌍✈️</h4>
      <h4>contact us on name Rutuja Deshmukh <br>info@travelexplorer.com 
        <br>contact number +91 1234567890</h4>
      <h4>© 2024 Travel Explorer. All rights reserved.
      </h4>
  </form>
</div>

</body>
</html>